{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

    <body>
        <ul>
             {% for album in all_albums %}
                <form method="post" action="{{ url_for('pics_peralbum') }}">
                    <input type ="hidden" name = "album_name" value={{album[0]}}>
                    <input type ="hidden" name = "user_id" value={{album[1]}}>
                    <li> {{album[0]}} </li>
                    <input type="submit" />
                </form>
                
            {% endfor %}
        </ul>

    </body>
<a href='/'>Home</a>
